<div class="mid">
<div class="row justify-content-md-center">
  <div class="col col-lg-6 ">
    <h1>Contact List</h1>
<ul class="list-unstyled mid ">
  <li class="media">
    <img class="mr-3 img" src="https://uk.widex.pro/-/media/images/generic/icons/icon-professional.png?w=323&hash=CBFD427F4C80A0DD56759B06A34E24021236FF94" alt="contactimg">
    <div class="media-body">
      <h5 class="mt-0 mb-1">John</h5>
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3 img" src="https://uk.widex.pro/-/media/images/generic/icons/icon-professional.png?w=323&hash=CBFD427F4C80A0DD56759B06A34E24021236FF94" alt="contactimg">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Amarathunga</h5>
    </div>
  </li>
  <li class="media">
    <img class="mr-3 img" src="https://uk.widex.pro/-/media/images/generic/icons/icon-professional.png?w=323&hash=CBFD427F4C80A0DD56759B06A34E24021236FF94" alt="contactimg">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Nuwan</h5>
    </div>
  </li>
</ul>
</div>
  </div>
</div>
